name: Deploy

on:
  push:
    branches: [ "master" ]
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Deploy web
        run: |
          cd /var/www/html
          git pull
